<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
      {{ title }}
    </title>
    <link rel="stylesheet" href="/css/style.css">
  </head>

  <body>

    <!-- <div class="container"> <h1>Starting the Tutorial</h1> <div class="vibe">Life is Great!!!</div> <div class="love"> ❤❤❤ </div> </div> -->
    <header>
      <a href="/">Home</a> | <a href="/about">About</a>
    </header>
    {{content | safe}}

  </body>

</html>