---
title: JAMStack Tutorial
layout: base.njk
---

<div class="container">
  <h1>
    JAMStack Tutorial About Page
  </h1>
  <p>A JAMStack website built using javascript, css, and HTML...</p>
</div>
<script src="vibe.js"></script>