--- 
title: JAMStack Tutorial 
layout: base.njk 
---

<div class="container">
  <h1>JAMStack Tutorial Main Page</h1>
  <div class="vibe">Life is Great!!!</div>
  <div class="love">
    ❤❤❤
  </div>

  <ul>
    {% for article in news.articles %}
      <li>
        {{ article.title }}
      </li>
    {% endfor %}

    {% for article in apinews.articles %}
      <li>
        <h2>
          <a href="{{article.url}}">{{article.title}}</a>
          <span>{{article.source.name}} - <time>{{article.publishedAt}}</time>
          </span>
        </h2>
      </li>
    {% endfor %}
  </ul>

</div>
<script src="/js/vibe.js"></script>