---
title: JAMStack Tutorial
layout: base.njk
---

<div class="container">
  <h1>JAMStack Tutorial Main Page</h1>
  <div class="vibe">Life is Great!!!</div>
  <div class="love">
    ❤❤❤
  </div>
</div>
<script src="/js/vibe.js"></script>